body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  min-height: 100%;
}

body {
  background: rgb(203,34,251);
  background: linear-gradient(342deg, rgba(203,34,251,1) 0%, rgba(253,29,212,1) 50%, rgba(255,26,86,1) 100%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.centered-container {
  height: 80vh;
}

.list-button {
  width: 3rem;
}

.list-title {
  font-size: 1.5rem;
}

.text-pink {
  color: #fb5cef;
}

.bg-pink {
  background-color: #fb5cef;
}

.btn-outline-pink {
  color: #fb5cef;
  border-color: #fb5cef;
}

.btn-outline-pink:hover {
  color: #fff;
  background-color: #fb5cef;
  border-color: #fb5cef;
}

.btn-outline-pink:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 76, 243, 0.5);
}

.form-control:focus {
  border-color: #f869ec;
  box-shadow: 0 0 0 0.2rem rgba(225, 76, 243, 0.5);
}